# Focaltech Touchscreen driver configuration

config TOUCHSCREEN_FTS_CORE
	tristate

config TOUCHSCREEN_FTS_SPI
	tristate "Focaltech SPI touchscreen"
	depends on SPI_MASTER
	select REGMAP
	select TOUCHSCREEN_FTS_CORE
	help
	  Say Y here if you have a Focaltech IC connected to
	  your system via SPI.

	  If unsure, say N.

	  To compile this driver as a module, choose M here: the
	  module will be called focaltech_spi.
