CONFIG_ATH11K=y
CONFIG_BATTERY_QCOM_BATTMGR=y
CONFIG_BLK_DEV_DM=y
CONFIG_BLK_DEV_NBD=y
CONFIG_BT=y
CONFIG_BT_HCIUART=y
CONFIG_BT_HIDP=y
CONFIG_CFG80211=y
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=y
CONFIG_CPU_FREQ_GOV_POWERSAVE=y
CONFIG_CRYPTO_DEV_QCE=y
CONFIG_CRYPTO_DEV_QCOM_RNG=y
CONFIG_CRYPTO_USER_API_RNG=y
CONFIG_DRM=y
CONFIG_DRM_MSM=y
CONFIG_I2C_QCOM_CCI=y
CONFIG_I2C_QCOM_GENI=y
CONFIG_MAC80211=y
CONFIG_INTERCONNECT_QCOM_OSM_L3=y
CONFIG_MEDIA_SUPPORT=y
CONFIG_PHY_QCOM_QMP=y
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=y
CONFIG_PINCTRL_LPASS_LPI=y
CONFIG_PINCTRL_SC7280_LPASS_LPI=y
CONFIG_POWER_RESET_QCOM_PON=y
CONFIG_QCOM_APR=y
CONFIG_QCOM_FASTRPC=y
CONFIG_QCOM_GPI_DMA=y
CONFIG_QCOM_ICC_BWMON=y
CONFIG_QCOM_LLCC=y
CONFIG_QCOM_PMIC_GLINK=y
CONFIG_QCOM_Q6V5_PAS=y
CONFIG_QCOM_RMTFS_MEM=y
CONFIG_QCOM_SOCINFO=y
CONFIG_QCOM_SPMI_ADC5=y
CONFIG_QCOM_SPMI_ADC_TM5=y
CONFIG_QCOM_SPMI_TEMP_ALARM=y
CONFIG_QCOM_SYSMON=y
CONFIG_QCOM_WDT=y
CONFIG_QRTR_SMD=y
CONFIG_QRTR_TUN=y
CONFIG_RFKILL=y
CONFIG_RPMSG_QCOM_GLINK_SMEM=y
CONFIG_RTC_DRV_PM8XXX=y
CONFIG_SCSI_UFS_QCOM=y
CONFIG_SND_SOC_LPASS_RX_MACRO=y
CONFIG_SND_SOC_LPASS_TX_MACRO=y
CONFIG_SND_SOC_LPASS_VA_MACRO=y
CONFIG_SND_SOC_QCOM=y
CONFIG_SND_SOC_SM8250=y
CONFIG_SOUNDWIRE=y
CONFIG_SOUNDWIRE_QCOM=y
CONFIG_SPI_QCOM_GENI=y
CONFIG_TYPEC=y
CONFIG_TYPEC_MUX_FSA4480=y
CONFIG_TYPEC_UCSI=y
CONFIG_UCSI_PMIC_GLINK=y
CONFIG_USB_CONFIGFS=y
CONFIG_USB_RTL8152=y
CONFIG_BACKLIGHT_CLASS_DEVICE=y
CONFIG_BACKLIGHT_QCOM_WLED=y
CONFIG_LEDS_CLASS_FLASH=y
CONFIG_LEDS_QCOM_FLASH=y
CONFIG_INPUT_FF_MEMLESS=y
CONFIG_MFD_QCOM_PM8008=y
CONFIG_REGULATOR_QCOM_PM8008=y
CONFIG_SND_SOC_WCD938X_SDW=y
CONFIG_SC_CAMCC_7280=y
CONFIG_SC_DISPCC_7280=y
CONFIG_SC_GPUCC_7280=y
CONFIG_SC_VIDEOCC_7280=y
CONFIG_QRTR=y
CONFIG_DM_CRYPT=y