CONFIG_TOUCHSCREEN_GOODIX_BRL=y
CONFIG_TOUCHSCREEN_GOODIX_BRL_SPI=y
CONFIG_TYPEC_MUX_PTN36502=y
CONFIG_DRM_PANEL_RAYDIUM_RM692E5=y
CONFIG_SCSI=y
CONFIG_SCSI_SAS_LIBSAS=y
CONFIG_SND_USB_AUDIO=y
CONFIG_DRM_SIMPLEDRM=y
CONFIG_SCSI_UFS_CRYPTO=y
CONFIG_SND_SOC_AW88261=y
CONFIG_EXFAT_FS=y
CONFIG_CRASH_DUMP=y