CONFIG_MFD_QCOM_PM8008=m
CONFIG_REGULATOR_QCOM_PM8008=m
CONFIG_SND_SOC_WCD938X_SDW=m
CONFIG_SC_CAMCC_7280=m
CONFIG_SC_DISPCC_7280=m
CONFIG_SC_GPUCC_7280=m
CONFIG_SC_VIDEOCC_7280=m
CONFIG_QRTR=m
CONFIG_INDIRECT_PIO=y
CONFIG_INPUT_FF_MEMLESS=m
CONFIG_IOMMU_IO_PGTABLE_ARMV7S=y
CONFIG_IRQ_POLL=y
CONFIG_LEDS_CLASS_FLASH=m
CONFIG_LEDS_QCOM_FLASH=m
CONFIG_MAILBOX=y
CONFIG_EXT4_FS=y
CONFIG_EXTCON=y
CONFIG_FS_ENCRYPTION=y
CONFIG_FS_ENCRYPTION_INLINE_CRYPT=y
CONFIG_BACKLIGHT_CLASS_DEVICE=m
CONFIG_BACKLIGHT_QCOM_WLED=m
CONFIG_BLK_DEV_INTEGRITY=y
CONFIG_BLK_INLINE_ENCRYPTION=y
CONFIG_CMA=y
CONFIG_CPU_IDLE=y
CONFIG_CRC7=y
CONFIG_CRC_ITU_T=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_DM_CRYPT=y
CONFIG_DNS_RESOLVER=y
CONFIG_HIDRAW=y
CONFIG_THERMAL=y
CONFIG_UEVENT_HELPER=y
CONFIG_UHID=y
CONFIG_USB_ANNOUNCE_NEW_DEVICES=y
CONFIG_USB_EHCI_ROOT_HUB_TT=y
CONFIG_USB_HIDDEV=y
CONFIG_USB_ULPI_BUS=y
CONFIG_XZ_DEC=y
CONFIG_NET_FAILOVER=y
CONFIG_NET_SWITCHDEV=y
CONFIG_OF_OVERLAY=y
CONFIG_PACKING=y
CONFIG_PARAVIRT=y
CONFIG_PAGE_REPORTING=y